#logo, #logoImage, #header, #navigation, #content {
    position:absolute;
}
#logo, #logoImage {
    top:0px;
    left:0px;
    height:100px;
    width:200px;
}
#logoImage {
    background-color: lightgreen;
}
#header {
    top:0px;
    left:200px;
    height:100px;
    width:100%;
    background-color: lightgreen;
}
#navigation {
    top:100px;
    left:0px;
    height:500px;
    width:200px;
    margin: 10px;
    background-color: lightgreen;
}
#content {
    top:100px;
    left:200px;
    height:500px;
    width:600px;
    border:1px;
    padding-top: 10px;
    padding-left: 10px;
    background-color: white;
}
div.menuItem:hover {
    background-color: yellow;
}
div.selectedItem {
    background-color: red;
}
#type, #brand, #price, #bargain {
    position: absolute;   
    height: auto; /* Höhe von Inhalt abhängig */
    width: 550px;    
    left: 9px; 
    top: 9px;    
    padding: 0px;
    margin: 0px;
    visibility: hidden;
}
body {
    background-color: lightgreen;
}
td.themeTable {
    border: 1px solid lightgrey;
    padding: 0px;
    margin: 0px;
}
td.themeTable:hover {
    border:1px solid red;
}
table.bargainTable {
    padding: 0px;
    margin: 0px;
}
tr.bargainTableHeader {
    background-color: green;
    color: white;
}
tr.bargainTableRow:hover {
    background-color: lightblue;
}
td.numberCell {
    text-align: right;
}